<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" language="javascript">
            $(document).ready(() =>
            {
                const oauthHash = location.hash.substr(1);

                if (!oauthHash)
                    return;

                const accessToken = decodeURIComponent(oauthHash.substr(oauthHash.indexOf('access_token=')).split('&')[0].split('=')[1]);
                const stateString = decodeURIComponent(oauthHash.substr(oauthHash.indexOf('state=')).split('&')[0].split('=')[1]);

                if (!accessToken || !stateString)
                    return;

                let state;
                try
                {
                    state = JSON.parse(stateString);
                }
                catch (e)
                {
                    return;
                }

                if (!state.channel)
                    return;

                $("#startAuth").hide();

                $("#commandLoadingText").text("Getting user ID for " + state.channel);
                $("#commandLoading").show();

                $.ajax(
                {
                    url: "https://api.twitch.tv/helix/users",
                    data:
                    {
                        login: state.channel
                    },
                    headers:
                    {
                        "Authorization": "Bearer " + accessToken
                    }
                }).done(data =>
                {
                    $("#commandLoading").hide();

                    if (data.error)
                    {
                        if (!data.message)
                        {
                            res.send("Error: " + data.error);
                            return
                        }

                        let messageContainer;
                        try
                        {
                            messageContainer = JSON.parse(data.message);
                        }
                        catch (e)
                        {
                            res.send("Error: couldn't parse error message");
                            return
                        }

                        if (!messageContainer.message)
                        {
                            res.send("Error: " + data.error);
                            return;
                        }

                        res.send(messageContainer.message);
                        return;
                    }

                    if (!data.data)
                    {
                        $("#commandFailureText").text("Error: no error message or data");
                        $("#commandFailure").show();
                        return;
                    }

                    if (!data.data[0])
                    {
                        $("#commandFailureText").text("Error: channel doesn't exist");
                        $("#commandFailure").show();
                        return;
                    }

                    if (!data.data[0].id)
                    {
                        $("#commandFailureText").text("Error: got data but no id");
                        $("#commandFailure").show();
                        return;
                    }

                    const nightbotCommand = `$(urlfetch https://nightbot-clip-command.herokuapp.com/clip?user_access_token=${encodeURIComponent(accessToken)}&channel_id=${encodeURIComponent((data.data[0].id))})`;
                    $("#commandViewText").val(nightbotCommand);
                    $("#commandViewAddLink").attr("href",
                        "<%= nightbot_base_url %>" +
                        "?client_id=" + encodeURIComponent("<%= nightbot_client_id %>") +
                        "&redirect_uri=" + encodeURIComponent("<%= nightbot_redirect_uri %>") +
                        "&response_type=" + encodeURIComponent("<%= nightbot_response_type %>") +
                        "&scope=" + encodeURIComponent("<%= nightbot_scope %>") +
                        "&state=" + encodeURIComponent(JSON.stringify(
                        {
                            command: nightbotCommand
                        }))
                    );
                    $("#commandView").show();
                });
            });
        </script>
    </head>

    <body>
        <div id="startAuth">
            <div>
                <label for="channelToClip">Channel to clip:</label>
                <input type="text" id="channelToClip" onkeypress="textBoxKeyPressed(event)">
            </div>

            <br>

            <div>
                <button type="button" onclick="startAuth()">Login with Twitch</button>
            </div>

            <script type="text/javascript" language="javascript">
                function startAuth()
                {
                    if (!channelToClip.value)
                    {
                        alert("Enter a channel name");
                        return;
                    }

                    window.location.href = "<%= twitch_base_url %>" +
                        "?client_id=" + encodeURIComponent("<%= twitch_client_id %>") +
                        "&redirect_uri=" + encodeURIComponent("<%= twitch_redirect_uri %>") +
                        "&response_type=" + encodeURIComponent("<%= twitch_response_type %>") +
                        "&scope=" + encodeURIComponent("<%= twitch_scope %>") +
                        "&force_verify=" + encodeURIComponent("<%= twitch_force_verify %>") +
                        "&state=" + encodeURIComponent(JSON.stringify(
                        {
                            channel: channelToClip.value
                        }));
                }
                
                function textBoxKeyPressed(event)
                {
                    if (event.keyCode === 13)
                    {
                        event.preventDefault();
                        startAuth();
                    }
                }
            </script>
        </div>

        <div id="commandLoading" style="display:none;">
            <p id="commandLoadingText"></p>
        </div>

        <div id="commandFailure" style="display:none;">
            <p id="commandFailureText"></p>
        </div>

        <div id="commandView" style="display:none;">
            <label for="commandViewText">Nightbot command:</label>
            <textarea id="commandViewText" rows="3" cols="100" onClick="this.select();" readonly="readonly"></textarea>

            <br>

            <p>Add this command through the <a href="https://beta.nightbot.tv/commands/custom">Nightbot web interface</a>, or click below to automatically add the command.</p>
            <a id="commandViewAddLink">Automatically add the command !clips</a>
        </div>
    </body>
</html>
