<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" language="javascript">
            $(document).ready(() =>
            {
                const oauthHash = location.hash.substr(1);
                const accessToken = decodeURIComponent(oauthHash.substr(oauthHash.indexOf('access_token=')).split('&')[0].split('=')[1]);
                const stateString = decodeURIComponent(oauthHash.substr(oauthHash.indexOf('state=')).split('&')[0].split('=')[1]);

                if (accessToken && stateString)
                {
                    let state;
                    try
                    {
                        state = JSON.parse(stateString);
                    }
                    catch (e)
                    {
                        return;
                    }

                    if (!state.channel)
                        return;

                    $("#startAuth").hide();
                    $("#showCommand").show();

                    $.get(
                    {
                        url: "https://api.twitch.tv/helix/users",
                        data:
                        {
                            login: state.channel
                        },
                        headers:
                        {
                            "Authorization": "Bearer " + accessToken
                        }
                    }).done(data => {
                        $("#commandText").val(JSON.stringify(data));
                    });

                    //$("#tmiPasswordField").val('oauth:' + encodeURIComponent(accessToken));
                    //$("#tmiExample").html('/nick yourtwitchusername<br />/server irc.twitch.tv 6667 oauth:' + encodeURIComponent(accessToken));
                }
            });
        </script>
    </head>

    <body>
        <div id="startAuth">
            <div>
                <label for="channelToClip">Channel to clip:</label>
                <input type="text" id="channelToClip" required>
            </div>

            <br>

            <div>
                <button type="button" onclick="startAuth()">Login with Twitch</button>
            </div>

            <script type="text/javascript" language="javascript">
                function startAuth()
                {
                    window.location.href = "<%= base_url %>" +
                        "?client_id=" + encodeURIComponent("<%= client_id %>") +
                        "&redirect_uri=" + encodeURIComponent("<%= redirect_uri %>") +
                        "&response_type=" + encodeURIComponent("<%= response_type %>") +
                        "&scope=" + encodeURIComponent("<%= scope %>") +
                        "&force_verify=" + encodeURIComponent("<%= force_verify %>") +
                        "&state=" + encodeURIComponent(JSON.stringify(
                        {
                            channel: channelToClip.value
                        }));
                }
            </script>
        </div>

        <div id="showCommand" style="display:none;">
            <p>Command text:</p>
            <input type="text" id="commandText" onClick="this.select();" readonly="readonly">
        </div>
    </body>
</html>