<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" language="javascript">
            $(document).ready(() =>
            {
                const oauthHash = location.hash.substr(1);
                let accessToken = oauthHash.substr(oauthHash.indexOf('access_token=')).split('&')[0].split('=')[1];
                let stateString = oauthHash.substr(oauthHash.indexOf('state=')).split('&')[0].split('=')[1];

                if (!accessToken || !stateString)
                    return;

                accessToken = decodeURIComponent(accessToken);
                stateString = decodeURIComponent(stateString);

                let state;
                try
                {
                    state = JSON.parse(stateString);
                }
                catch (e)
                {
                    return;
                }

                if (!state.channel)
                    return;

                $("#startAuth").hide();

                const $commandStatusText = $("#commandStatusText");
                const $commandStatus = $("#commandStatus");
                $commandStatusText.text("Getting user ID for " + state.channel);
                $commandStatus.show();

                $.ajax(
                {
                    url: "https://api.twitch.tv/helix/users",
                    data:
                    {
                        login: state.channel
                    },
                    headers:
                    {
                        "Authorization": "Bearer " + accessToken
                    }
                }).done(data =>
                {
                    if (!data.data)
                    {
                        $commandStatusText.text("Error: No data");
                        return;
                    }

                    if (!data.data[0])
                    {
                        $commandStatusText.text("Error: Channel doesn't exist");
                        return;
                    }

                    if (!data.data[0].id)
                    {
                        $commandStatusText.text("Error: Got data but no id");
                        return;
                    }

                    $commandStatus.hide();

                    const nightbotCommand = `$(urlfetch https://nightbot-clip-command.herokuapp.com/clip?user_access_token=${encodeURIComponent(accessToken)}&channel_id=${encodeURIComponent(data.data[0].id)})`;
                    $("#commandViewText").val(nightbotCommand);
                    $("#commandViewAddLink").attr("href",
                        "<%= nightbot_base_url %>" +
                        "?client_id=" + encodeURIComponent("<%= nightbot_client_id %>") +
                        "&redirect_uri=" + encodeURIComponent("<%= nightbot_redirect_uri %>") +
                        "&response_type=" + encodeURIComponent("<%= nightbot_response_type %>") +
                        "&scope=" + encodeURIComponent("<%= nightbot_scope %>") +
                        "&state=" + encodeURIComponent(JSON.stringify(
                        {
                            command: nightbotCommand
                        }))
                    );
                    $("#commandView").show();
                }).fail(jqXHR =>
                {
                    if (!jqXHR.responseJSON)
                    {
                        $commandStatusText.text("Error: Failed to get channel ID (no response)");
                        return;
                    }

                    $commandStatusText.text(jqXHR.responseJSON.message || "Error: Failed to get channel ID (no response message)");
                });
            });
        </script>
    </head>

    <body>
        <div id="startAuth">
            <div>
                <label for="channelToClip">Channel to clip:</label>
                <input type="text" id="channelToClip" onkeypress="textBoxKeyPressed(event)">
            </div>

            <br>

            <div>
                <button type="button" onclick="startAuth()">Login with Twitch</button>
            </div>

            <script type="text/javascript" language="javascript">
                function startAuth()
                {
                    if (!channelToClip.value)
                    {
                        alert("Enter a channel name");
                        return;
                    }

                    window.location.href = "<%= twitch_base_url %>" +
                        "?client_id=" + encodeURIComponent("<%= twitch_client_id %>") +
                        "&redirect_uri=" + encodeURIComponent("<%= twitch_redirect_uri %>") +
                        "&response_type=" + encodeURIComponent("<%= twitch_response_type %>") +
                        "&scope=" + encodeURIComponent("<%= twitch_scope %>") +
                        "&force_verify=" + encodeURIComponent("<%= twitch_force_verify %>") +
                        "&state=" + encodeURIComponent(JSON.stringify(
                        {
                            channel: channelToClip.value
                        }));
                }

                function textBoxKeyPressed(event)
                {
                    if (event.keyCode === 13)
                    {
                        event.preventDefault();
                        startAuth();
                    }
                }
            </script>
        </div>

        <div id="commandStatus" style="display:none;">
            <p id="commandStatusText"></p>
        </div>

        <div id="commandView" style="display:none;">
            <label for="commandViewText">Nightbot command:</label>
            <textarea id="commandViewText" rows="2" cols="100" onClick="this.select();" readonly="readonly"></textarea>

            <br>

            <p>Add this command through the <a href="https://beta.nightbot.tv/commands/custom">Nightbot web interface</a>, or click below to automatically add the command. Adding this command through chat is not recommended, because it contains an access token that anyone can use to create clips on your behalf.</p>
            <a id="commandViewAddLink">Automatically add the command !clip</a>
        </div>
    </body>
</html>
