<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" language="javascript">
            $(document).ready(() =>
            {
                const oauthHash = location.hash.substr(1);

                if (!oauthHash)
                    return;

                const accessToken = decodeURIComponent(oauthHash.substr(oauthHash.indexOf('access_token=')).split('&')[0].split('=')[1]);
                const stateString = decodeURIComponent(oauthHash.substr(oauthHash.indexOf('state=')).split('&')[0].split('=')[1]);

                if (!accessToken || !stateString)
                    return;

                let state;
                try
                {
                    state = JSON.parse(stateString);
                }
                catch (e)
                {
                    return;
                }

                if (!state.command)
                    return;

                $("#returnToHome").hide();

                $("#nightbotAddResultText").text("Adding !clips command...");
                $("#nightbotAddResult").show();

                $.ajax(
                {
                    url: "https://api.nightbot.tv/1/commands",
                    data:
                    {
                        "coolDown": "5",
                        "message": state.command,
                        "name": "!clips",
                        "userLevel": "everyone"
                    },
                    headers:
                    {
                        "Authorization": "Bearer " + accessToken
                    }
                }).done(data =>
                {
                    console.log(data);
                    return;

                    if (data.error)
                    {
                        if (!data.message)
                        {
                            res.send("Error: " + data.error);
                            return
                        }

                        let messageContainer;
                        try
                        {
                            messageContainer = JSON.parse(data.message);
                        }
                        catch (e)
                        {
                            res.send("Error: couldn't parse error message");
                            return
                        }

                        if (!messageContainer.message)
                        {
                            res.send("Error: " + data.error);
                            return;
                        }

                        res.send(messageContainer.message);
                        return;
                    }

                    if (!data.data)
                    {
                        $("#commandFailureText").text("Error: no error message or data");
                        $("#commandFailure").show();
                        return;
                    }

                    if (!data.data[0])
                    {
                        $("#commandFailureText").text("Error: channel doesn't exist");
                        $("#commandFailure").show();
                        return;
                    }

                    if (!data.data[0].id)
                    {
                        $("#commandFailureText").text("Error: got data but no id");
                        $("#commandFailure").show();
                        return;
                    }

                    const nightbotCommand = `$(urlfetch https://nightbot-clip-command.herokuapp.com/clip?user_access_token=${encodeURIComponent(accessToken)}&channel_id=${encodeURIComponent((data.data[0].id))})`;
                    $("#commandViewText").val(nightbotCommand);
                    $("#commandViewAddLink").attr("href",
                    "<%= nightbot_base_url %>" +
                    "?client_id=" + encodeURIComponent("<%= nightbot_client_id %>") +
                    "&redirect_uri=" + encodeURIComponent("<%= nightbot_redirect_uri %>") +
                    "&response_type=" + encodeURIComponent("<%= nightbot_response_type %>") +
                    "&scope=" + encodeURIComponent("<%= nightbot_scope %>") +
                    "&state=" + encodeURIComponent(JSON.stringify(
                    {
                        command: nightbotCommand
                    }))
                    );
                    $("#commandView").show();
                });
            });
        </script>
    </head>

    <body>
        <div id="returnToHome">
            <a href="/">Return home</a>
        </div>

        <div id="nightbotAddResult" style="display:none;">
            <p id="nightbotAddResultText"></p>
        </div>
    </body>
</html>
